@charset "UTF-8";

/* for color-themes-for-google-code-prettify */

pre {
  /*white-space: pre-wrap;
word-break: break-all;
word-wrap: break-word;
*/
}

#post-content .prettyprint {
  border-radius: 0;
  padding: 0px;
}

#post-content ol {
  padding: 10px;
  margin-top: 0px;
  font-size: 14px;
  border: solid rgba(0, 0, 0, 0.1) 1px;
  overflow: auto;
}

#post-content ul {
  padding-left: 35px;
  font-size: 20px;
}

#post-content .prettyprint li.L0,
#post-content .prettyprint li.L1,
#post-content .prettyprint li.L2,
#post-content .prettyprint li.L3,
#post-content .prettyprint li.L4,
#post-content .prettyprint li.L5,
#post-content .prettyprint li.L6,
#post-content .prettyprint li.L7,
#post-content .prettyprint li.L8,
#post-content .prettyprint li.L9 {
  padding-left: 0.8em;
}
